# Pandas Exercises

Time to test your new pandas skills! Use the two csv files in this folder to complete the tasks in bold below!

** NOTE: ALL TASKS MUST BE DONE IN ONE LINE OF PANDAS CODE. GOT STUCK? NO PROBLEM! CHECK OUT THE SOLUTIONS LECTURE! **

** Import pandas and read in the banklist.csv file into a dataframe called banks. **

In [0]:
import pandas as pd
banks = pd.read_csv('banklist.csv')

In [4]:
from google.colab import files
uploaded = files.upload()

Saving banklist.csv to banklist.csv

** Show the head of the dataframe **

In [6]:
# CODE HERE
banks.head()

                                           Bank Name  ... Updated Date
0                                Fayette County Bank  ...     1-Jun-17
1  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...  ...     1-Jun-17
2                                     First NBC Bank  ...    23-May-17
3                                      Proficio Bank  ...    18-May-17
4                      Seaway Bank and Trust Company  ...    18-May-17

[5 rows x 7 columns]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

** What are the column names? **

In [8]:
# CODE HERE
banks.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

** How many States (ST) are represented in this data set? **

In [10]:
# CODE HERE
by_state = banks.groupby('ST')
len(by_state)

44

44

** Get a list or array of all the states in the data set. **

In [19]:
# CODE HERE
banks['ST'].unique()

array(['IL', 'WI', 'LA', 'UT', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WA', 'CO',
       'PR', 'FL', 'MN', 'CA', 'MD', 'OK', 'OH', 'SC', 'VA', 'ID', 'TX',
       'CT', 'AZ', 'NV', 'NC', 'KY', 'MO', 'KS', 'AL', 'MI', 'IN', 'IA',
       'NE', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'],
      dtype=object)

array(['IL', 'WI', 'LA', 'UT', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WA', 'CO',
       'PR', 'FL', 'MN', 'CA', 'MD', 'OK', 'OH', 'SC', 'VA', 'ID', 'TX',
       'CT', 'AZ', 'NV', 'NC', 'KY', 'MO', 'KS', 'AL', 'MI', 'IN', 'IA',
       'NE', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'], dtype=object)

** What are the top 5 states with the most failed banks? **

In [26]:
# CODE HERE
banks.head()
by_state['ST'].count().sort_values(ascending=False).head()

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: ST, dtype: int64

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: Bank Name, dtype: int64

** What are the top 5 acquiring institutions? **

In [29]:
# CODE HERE
by_comp = banks.groupby('Acquiring Institution')
by_comp['Acquiring Institution'].count().sort_values(ascending = False).head()

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: Acquiring Institution, dtype: int64

No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: Acquiring Institution, dtype: int64

** How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [38]:
# CODE HERE
Bank_of_Texas = banks[banks['Acquiring Institution']=='State Bank of Texas']
print(' the State Bank of Texas acquired', len(Bank_of_Texas), 'Banks in total')
print(' the State Bank of Texas acquired', len(Bank_of_Texas[Bank_of_Texas['ST'] == 'TX']), 'Banks in Texas')
banks[banks['Acquiring Institution']=='State Bank of Texas'].head()

 the State Bank of Texas acquired 3 Banks in total
 the State Bank of Texas acquired 1 Banks in Texas

                                 Bank Name     City  ... Closing Date  Updated Date
4            Seaway Bank and Trust Company  Chicago  ...    27-Jan-17     18-May-17
21   The National Republic Bank of Chicago  Chicago  ...    24-Oct-14      6-Jan-16
450         Millennium State Bank of Texas   Dallas  ...     2-Jul-09     26-Oct-12

[3 rows x 7 columns]

In [0]:
|

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
21,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14,6-Jan-16
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12

** What is the most common city in California for a bank to fail in?**

In [49]:
# CODE HERE
cali = banks[banks['ST']=='CA']
cali.head()
cali_city = cali.groupby('City')

print('The most common city for a bank to fail in is', cali_city['City'].count().sort_values(ascending=False).head(1))

The most common city for a bank to fail in is City
Los Angeles    4
Name: City, dtype: int64

** How many failed banks don't have the word "Bank" in their name? **

In [67]:
# CODE HERE
len(banks[~banks['Bank Name'].str.contains("Bank")])

14

14

** How many bank names start with the letter 's' ? **

In [72]:
# CODE HERE
len(banks[banks['Bank Name'].str.startswith('S')])

53

53

** How many CERT values are above 20000 ? **

In [52]:
# CODE HERE
len(banks[banks['CERT'] > 20000])

417

417

** How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [75]:
# CODE HERE
len(banks[banks['Bank Name'].str.count(' ') + 1 == 2])

113

114

**Bonus: How many banks closed in the year 2008? (this is hard because we technically haven't learned about time series with pandas yet! Feel free to skip this one!**

In [85]:
closed = pd.to_datetime(banks['Closing Date']).apply(lambda date: date.year) == 2008
len(banks[closed])

25

# GREAT JOB!